<!--@subject New message @-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

<table width="700" cellspacing="0" cellpadding="0" border="0" style="border:1px solid #b21616;background-color:#ffffff">
	<tbody><tr>
	    <td valign="top">
            <a href="{{var store_url}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
        </td>
	</tr>
            
        <tr>
           <td bgcolor="#1473BB" style="padding:8px;color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:16px"><strong>Bulb And Key LLP</strong></td>
        </tr>
            
        <tr>
           <td width="100%" style="font-weight:bold;padding:8px"> </td>
        </tr>
            	
        <tr>
           <td>
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding:8px;font-size:14px">
          	<tbody><tr>
            	    <td valign="top" align="left"><table width="100%" border="0">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
                <tr>
			<td colspan="3">
			<b style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgba(255,255,255,0.917969)"><span>Dear {{var r_name}} ,</span></b>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3"><b style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgba(255,255,255,0.917969)">You have got a new Message. Click on below link to view message:
			<span>{{var msg_link}} </span></b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	<!--	<tr>
			<td><strong>Client Name</strong></td>
			<td>:</td>
			<td>{{var name}}</td>
		</tr>
		<tr>
			<td><strong>Client Email</strong></td>
			<td>&nbsp;:</td>
			<td>{{var email}}</td>
		</tr>
             -->   
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</td>
          	</tr>
              </tbody></table>
           </td>
        </tr>
            
        <tr>
            <td bgcolor="#1473BB" style="color:#fff;padding:8px"><strong>Thanks :<a target="_blank" style="color:#fff" href="{{var store_url}}">Bulb And Key LLP</a></strong></td>
        </tr>
            
</tbody></table>