<?xml version="1.0"?>
<!--
/**
 * Xcentia_Vendors extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Xcentia
 * @package        Xcentia_Vendors
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Xcentia_Vendors>
            <version>1.0.6</version>
        </Xcentia_Vendors>
    </modules>
    <global>
        <resources>
            <xcentia_vendors_setup>
                <setup>
                    <module>Xcentia_Vendors</module>
                    <class>Xcentia_Vendors_Model_Resource_Setup</class>
                </setup>
            </xcentia_vendors_setup>
        </resources>
        <blocks>
            <xcentia_vendors>
                <class>Xcentia_Vendors_Block</class>
            </xcentia_vendors>
        </blocks>
        <helpers>
            <xcentia_vendors>
                <class>Xcentia_Vendors_Helper</class>
            </xcentia_vendors>
        </helpers>
        <models>
            <xcentia_vendors>
                <class>Xcentia_Vendors_Model</class>
                <resourceModel>xcentia_vendors_resource</resourceModel>
            </xcentia_vendors>
            <xcentia_vendors_resource>
                <class>Xcentia_Vendors_Model_Resource</class>
                <entities>
                    <vendor>
                        <table>xcentia_vendors_vendor</table>
                    </vendor>
                    <coverage>
                        <table>xcentia_vendors_coverage</table>
                    </coverage>
                    <order>
                        <table>xcentia_vendors_order</table>
                    </order>
                    <vendor_category>
                        <table>xcentia_vendors_vendor_category</table>
                    </vendor_category>
                    <vendor_comment>
                        <table>xcentia_vendors_vendor_comment</table>
                    </vendor_comment>
                    <vendor_service>
                        <table>xcentia_vendors_vendor_service</table>
                    </vendor_service>
					 <contact>
                        <table>xcentia_vendors_contact</table>
                    </contact>
                    <service>
                        <table>xcentia_vendors_service</table>
                    </service>
                    <servicemap>
                        <table>xcentia_vendors_servicemap</table>
                    </servicemap>
                    <service_category>
                        <table>xcentia_vendors_service_category</table>
                    </service_category>
                    <vendorservice>
                        <table>xcentia_vendors_vendorservice</table>
                    </vendorservice>
                </entities>
            </xcentia_vendors_resource>
        </models>
        <events>
			<sales_order_place_after>
	            <observers>
	                <xcentia_vendors_sales_order_placed_observer>
	                    <class>xcentia_vendors/observer</class>
	                    <method>newOrderPlaced</method>
	                </xcentia_vendors_sales_order_placed_observer>
	            </observers>
	        </sales_order_place_after>
		</events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <xcentia_vendors>
                    <file>xcentia_vendors.xml</file>
                </xcentia_vendors>
            </updates>
        </layout>
        <translate>
            <modules>
                <Xcentia_Vendors>
                    <files>
                        <default>Xcentia_Vendors.csv</default>
                    </files>
                </Xcentia_Vendors>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <xcentia_vendors_vendor_category>
                        <type>singleton</type>
                        <class>xcentia_vendors/adminhtml_observer</class>
                        <method>addCategoryVendorBlock</method>
                    </xcentia_vendors_vendor_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <xcentia_vendors_vendor_category>
                        <type>singleton</type>
                        <class>xcentia_vendors/adminhtml_observer</class>
                        <method>saveCategoryVendorData</method>
                    </xcentia_vendors_vendor_category>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Xcentia_Vendors before="Mage_Adminhtml">Xcentia_Vendors_Adminhtml</Xcentia_Vendors>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <xcentia_vendors>
                <use>standard</use>
                <args>
                    <module>Xcentia_Vendors</module>
                    <frontName>vendors</frontName>
                </args>
            </xcentia_vendors>
        </routers>
        <layout>
            <updates>
                <xcentia_vendors>
                    <file>xcentia_vendors.xml</file>
                </xcentia_vendors>
            </updates>
        </layout>
        <translate>
            <modules>
                <Xcentia_Vendors>
                    <files>
                        <default>Xcentia_Vendors.csv</default>
                    </files>
                </Xcentia_Vendors>
            </modules>
        </translate>
    </frontend>
    <default>
        <xcentia_vendors>
            <vendor>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <meta_title>Vendors</meta_title>
            </vendor>
            <order>
                <breadcrumbs>1</breadcrumbs>
            </order>
        </xcentia_vendors>
    </default>
    <crontab>
        <jobs>
            <vendor_featured_products>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>xcentia_vendors/observer::vendorFeaturedProducts</model>
                </run>
            </vendor_featured_products>
        </jobs>
    </crontab>
</config>
